/* Purchasing & Stock Main CSS */
@import url('purchasing/layout.css');
@import url('purchasing/components.css');
@import url('purchasing/cards.css');
@import url('purchasing/tables.css');
@import url('purchasing/embeds.css');
@import url('purchasing/dashboard.css');
@import url('purchasing/stock.css');
@import url('purchasing/recipes.css');